{% from macros import embed %}

<!DOCTYPE html>
<html lang="en">
  {% block head %}
  <head>
    {% block inner_head %}
      <meta charset="utf-8">
      <title>{% block title %}{{ title | e if title else "Bokeh Plot" }}{% endblock %}</title>
      {% block preamble %}{% endblock %}
      {% block resources %}
        {% block css_resources %}
          {{ bokeh_css | indent(8) if bokeh_css }}
        {% endblock %}
        {% block js_resources %}
          {{ bokeh_js | indent(8) if bokeh_js }}
        {% endblock %}
      {% endblock %}
      {% block postamble %}{% endblock %}
    {% endblock %}
  </head>
  {% endblock %}
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  {% block body %}
  <body>
  <!-- The Modal -->
    <div id="id01" class="w3-modal" style="display: block;">
      <div class="w3-modal-content">
        <div class="w3-container">
          <span onclick="document.getElementById('id01').style.display='none'"
          class="w3-button w3-display-topright">&times;</span>
             <h3><b><center>Welcome to Visual Trading Backtester!</center></b></h3>
             <p>On this platform you can test out trading strategies on historical market data on different stocks.
             A trading strategy is a method which tries to have better return then the market by buying and selling
             stocks on a daily or weekly basis.</p>
             <p>During simulation, you can see the stock price moving, and the
             signals that the selected strategy produces. Signal means buying (up arrow) or selling (down arrow).
             Some strategies plot their indicators also. Strategies buy and sell on certain values of the indicators.
             Maybe the strategy produces multiple buying signals in a
             row, but as it uses all the money in cash it has during buying to buy as many stocks as it can, it cannot
             buy new stocks for new buying signals. It sells all stocks for a selling signal, so multiple selling
             signals won't do anything in a row either. Currently this platform uses only daily market data from
             yahoo finance, and it downloads the data before the simulation, so the simulation will start after a few
             seconds, if you push the Simulate button.</p>
          <p><font color="red"><b>DISCLAIMER:</b> Nothing suggested by this platform can be viewed as a financial advice. Losing money
              using information from this platform is solely the responsibility of the user.</font></p>
          <p><b>How to use:</b></p>
          <ol>
            <li>Select a stock/stocks to trade with.</li>
            <li>Select period in the past when you want to test</li>
            <li>Select a trading strategy (Click on info button for info about the strategy)</li>
            <li>Set your money you would like to invest in stocks</li>
            <li>Click on "Simulate" button to start backtesting.</li>
          </ol>
          <p><b>HINT:</b> You can select more stocks, then the initial capital will be splitted equally between stocks.</p>
        </div>
      </div>
    </div>
    {% block inner_body %}
      {% block contents %}
        {% for doc in docs %}
          {{ embed(doc) if doc.elementid }}
          {% for root in doc.roots %}
            {% block root scoped %}
              {{ embed(root) | indent(10) }}
            {% endblock %}
          {% endfor %}
        {% endfor %}
      {% endblock %}
      {{ plot_script | indent(8) }}
    {% endblock %}
  </body>
  {% endblock %}
</html>